 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Finding a replacement for a damaged TV, monitor or computer can not only be costly but unnecessary as well. Take your broken TV or PC in for repairs at your local repair shop in NLR, AR for a quick diagnosis to avoid the costly hassle of finding a replacement.</p>
                </div>
                <div class="col-lg-4">
                    <p>Halter TV Service is open for Carry-In diagnosis and repairs from 9:30 am to 5:00 pm on weekdays, Monday through Friday. Bring your broken appliance to our shop at 1920 Percy Machin Dr. and we can carry it the rest of the way for a complete diagnosis.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="tel:501-758-1494" class="btn btn-lg btn-outline">
                        <i class="fa fa-phone"></i> 501-758-1494
                    </a>
                </div>
            </div>
        </div>
    </section>