
    <!-- Brands Grid Section -->
    <section id="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Brands we Know</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% assign sorted_posts = (site.posts | sort: 'modal-id') %}
                {% for post in sorted_posts %}
                    <div class="col-xs-6 col-sm-4 brands-item {{ post.class }}">
                        <a href="#brandsModal-{{ post.modal-id }}" class="brands-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/brands/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
                <div class="col-xs-6 col-sm-4 brands-item">
                    <a href="#brandsModal-more" class="brands-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="anchor"> <i class="fa fa-plus"></i> More </div>
                    </a>
                </div>
            </div>
        </div>
    </section>