<dialog class="closed-modal">
  <div class="wrapper">
      <h1>Thank You for Over 70 Wonderful Years</h1>
      <p>
          Halter Television Service, established in 1952, has proudly served our community for more than seven decades. It has been our honor to provide reliable service and support to generations of customers.
      </p>
      <p>
          As of now, Halter TV Service has permanently closed its doors. We extend our deepest gratitude to all of our customers and supporters who made this journey possible.
      </p>
      
      <div class="footer">
          <p>© 1952-2024 Halter TV Service.</p>
      </div>
  </div>
</dialog>
<script>
  var modal = document.querySelector('.closed-modal')
  modal.showModal()
</script>