    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <i class="fa fa-television fa-6"></i>
                        <div class="skills">{{ site.skills }}</div>
                        <a href="tel:{{ site.phone.tel }}" class="btn btn-lg btn-full phone" data-label="Header Phone"> <i class="fa fa-phone"></i>Call {{ site.phone.short }} </a>
                    </div>
                </div>
            </div>
        </div>
    </header>