    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <i class="fa fa-television fa-6" style=" font-size: 20em; display: block; "></i>
                        <div class="skills">{{ site.skills }}</div>
                    </div>
                </div>
            </div>
        </div>
    </header>